/*---- RESET DO CSS ----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- CONFIGURAÇÕES DO BODY ---*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,300;1,500&display=swap');

body {
    background-color: rgb(0, 217, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(../assets/universo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
}

#astronautaFormText {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

#astronautaGif {
    width: 300px;
    height: 400px;
}

form {
    width: 25%;
    height: 70%;
    background-color: rgba(10, 124, 255, 0.699);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border-radius: 10px;
}

#fotos {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-image: url(https://t.ctcdn.com.br/AwxkFgvpQizV0aW2qJ_uHcXQNxU=/i361132.gif);
    background-position: center;
    background-size: cover;

}

#texto {
    width: 20%;
    height: 50%;
}

#nome,
#data,
#viajar {
    text-align: center;
    width: 60%;
    height: 7%;
    border-radius: 5px;
}

#viajar {
    border-color: #095df8;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #095df8 50%, transparent 50%);
    background-image: linear-gradient(45deg, #095df8 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}

#viajar:hover {
    background-position: 0;
}


#textoExplor,
#explor {
    color: white;
    text-shadow: #000 2px 3px 2px;
}

footer {
    background-color: rgba(10, 124, 255, 0.699);
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linkedin {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: #000 2px 3px 2px;
    text-decoration: none;
}

#link {
    font-size: 135%;
}

#linkedin:hover {
    font-size: 135%;
    transition: 1s;
}

/* --- MAIN PARA RESPOSTA DO PEDIDO NA API --- */

#mainResApi {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#tituloNomeAno {
    width: 100vw;
    height: 10vh;
    background-color: rgba(10, 124, 255, 0.699);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    text-shadow: #000 2px 3px 2px;
    text-transform: uppercase;
}

#textoBoasVindas {
    display: flex;
    flex-direction: row;
}

#voltar {
    text-align: center;
    width: 10%;
    height: 40%;
    border-radius: 5px;
    border-color: #095df8;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #095df8 50%, transparent 50%);
    background-image: linear-gradient(45deg, #095df8 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}

#voltar:hover {
    background-position: 0;
}

#corpoResp {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

#imagemApi {
    width: 30vw;
    height: 70vh;
    background-color: rgba(10, 124, 255, 0.699);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#caixaTextApi {
    width: 50vw;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 124, 255, 0.699);

}

#tituloApi {
    width: 100%;
    height: 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: #000 2px 3px 2px;
    text-transform: uppercase;
}

#textoDaApi {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
}

#autorApi {
    width: 100%;
    height: 5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: #000 2px 3px 2px;
    text-transform: uppercase;
}

/* --- RESPONSIVIDADE --- */

@media (max-width: 1200px) {
    #fotos {
        width: 60%;
        height: 30%;
    }


}

@media (max-width: 811px) {

    #textoBoasVindas {
        width: 80%;
        font-size: 60%;
    }

    #corpoResp {
        display: flex;
        flex-direction: column;
    }

    #imagemApi {
        width: 40%;
        height: 40%;
    }

    #caixaTextApi {
        width: 90%;
        height: 50%;
    }

}

@media (max-width: 745px) {
    #astronautaGif {

        width: 30%;

    }

    #formulario {
        width: 35%;
    }

    #textoBoasVindas {
        width: 80%;
        font-size: 60%;
    }


}

@media (max-width: 660px) {

    #voltar {
        width: 10%;
    }

    #textoBoasVindas {
        width: 80%;
        font-size: 60%;
    }

    #imagemApi {
        width: 40%;
        height: 35%;
    }

    #caixaTextApi {
        width: 90%;
        height: 60%;
    }
}

@media (max-width: 500px) {

    #astronautaFormText {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #astronautaGif {
        display: none;
    }

    #formulario {
        width: 60%;
        height: 50%;
    }

    #texto {
        width: 40%;
        height: 40%;
    }

    #viajar,
    #nome,
    #data {
        width: 75%;
    }

    #voltar {
        width: 30%;
    }

    #textoBoasVindas {
        width: 80%;
        font-size: 50%;
    }

    #imagemApi {
        width: 70%;
        height: 35%;
    }

    #caixaTextApi {
        width: 100%;
        height: 60%;
    }

    #olaText {
        display: none;
    }

    #vejaAconte {
        display: none;
    }


}

@media (max-width: 430px) {

    body {
        height: 100%;
    }

    #voltar {
        width: 30%;
    }

    #textoBoasVindas {
        width: 80%;
        font-size: 80%;
    }

    #imagemApi {
        width: 50%;
        height: 20%;
    }

    #caixaTextApi {
        width: 100%;
        height: 90%;
    }

    #olaText {
        display: none;
    }

    #vejaAconte {
        display: none;
    }

}

@media (max-width: 315px) {
    #formulario {
        width: 65%;
        height: 40%;
    }

    #texto {
        width: 65%;
        height: 30%;

    }

    #voltar {
        width: 30%;
    }

    #imagemApi {
        width: 50%;
        height: 20%;
    }

    #caixaTextApi {
        width: 100%;
        height: 90%;
        font-size: small;
    }
}